{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block body_block %}
	{% if user.is_authenticated %}
		<h1>Rango says... hello {{ user.username }}!</h1>
	{% else %}			
		<h1>Rango says... hello world!</h1>
	{% endif %}		

	{% if categories %}
		<ul>
			{% for category in categories %}
			<li><a href = "{% url 'category' category.slug %}">{{ category.name }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<strong>There are no categories to present.</strong>
	{% endif %}

	{% if pages %}
		<ul>
			{% for page in pages %}
			<li><a href = "{{ page.url }}">{{ page.title }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<strong>There are no pages to present.<strong>
	{% endif %}

	<p><h2>visits: {{ visits }}</h2></p>
{% endblock %}
